@use '../abstracts/variables' as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: $light-grayish-cyan-1;
  font-family: $font-spaceMono;
  font-weight: 400;
}
