@use '../abstracts/variables' as *;

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 85em;
  background: $white;
  padding: 2.5rem 2.5rem 2.5rem 3.5rem;
  border-radius: 1.6rem;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 750px) {
    flex-direction: column;
    padding: 4rem 2.5rem 10rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.logo {
  margin: 5rem 0;
}

.input-section {
  flex-basis: 47.5%;
}

.output-section {
  flex-basis: 47.5%;
}

label {
  color: $dark-grayish-cyan-1;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
}

::placeholder {
  color: $dark-grayish-cyan-2;
  font-size: 2.2rem;
}

input {
  width: 100%;
  height: 5rem;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: right;
  color: lighten($very-dark-cyan, 5%);
  background: $light-grayish-cyan-2;
  caret-color: $strong-cyan;
  padding: 0.8rem;
  border: none;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border: 1.5px solid $strong-cyan;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group {
  width: 100%;
  position: relative;
  &:not(:last-of-type) {
    margin-bottom: 2.8rem;
  }

  span {
    position: relative;

    img {
      position: absolute;
      top: 30%;
      transform: translateY(-50%);
      left: 1.5rem;
    }
  }

  @media screen and (max-width: 750px) {
    &:last-of-type {
      margin-bottom: 4rem;
    }
  }
}

.tip-percentage {
  .tips {
    display: flex;
    flex-wrap: wrap;

    .tip {
      width: 31.3%;
      height: 5rem;
      color: $white;
      background: $very-dark-cyan;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      cursor: pointer;

      margin-right: 3%;
      margin-bottom: 1rem;

      &:is(:nth-child(3)),
      &:is(:nth-child(6)) {
        margin-right: 0;
      }

      transition: all 0.2s;

      &:hover,
      &:focus {
        background: $strong-cyan;
        color: $very-dark-cyan;
      }
    }
  }
}

.tip--custom {
  width: 31.3%;
}

.tip--custom input {
  width: 100%;
}

.tip--custom input::placeholder {
  color: hsl(182, 14%, 41%);
  text-align: center;
}

.error-msg {
  font-size: 1.6rem;
  font-weight: 700;
  color: #d79072;

  position: absolute;
  top: 0;
  right: 0;
}

// Output Section
//-------------------------------
.output-section {
  background: $very-dark-cyan;
  border-radius: 1rem;
  padding: 3.5rem 3rem 2rem;
}

.tip-amount {
  display: flex;
  justify-content: space-between;

  h3 {
    font-size: 1.8rem;
    font-weight: 400;
    color: $light-grayish-cyan-2;
    align-self: center;

    span {
      display: block;
      font-size: 1.4rem;
      color: $dark-grayish-cyan-2;
    }
  }

  .amount {
    font-size: 4.5rem;
    font-weight: 700;
    color: $strong-cyan;

    @media screen and (max-width: 750px) {
      font-size: 4rem;
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 4rem;

    @media screen and (max-width: 750px) {
      margin-bottom: 2rem;
    }
  }
}

.reset-btn {
  height: 4.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background: lighten($color: $very-dark-cyan, $amount: 7%);
  color: lighten($color: $very-dark-cyan, $amount: 5%);
  margin-top: 10rem;
  outline: none;
  cursor: not-allowed;
  transition: all 0.2s;

  @media screen and (max-width: 750px) {
    margin-top: 4.5rem;
    margin-bottom: 0.8rem;
  }
}

.reset-btn:hover,
.reset-btn:active,
.reset-btn:focus {
  border: none;
}

.reset-btn--active {
  background: darken($strong-cyan, 5%);
  background: hsl(172, 67%, 45%);
  color: hsl(179, 100%, 16%);
  cursor: pointer;
}

.reset-btn--active:hover,
.reset-btn--active:active,
.reset-btn--active:focus {
  background: lighten($strong-cyan, 5%);
  background: hsl(173, 61%, 77%);
}
