* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #c5e4e7;
  font-family: "Space Mono", monospace;
  font-weight: 400;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 85em;
  background: white;
  padding: 2.5rem 2.5rem 2.5rem 3.5rem;
  border-radius: 1.6rem;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  color: #00494d;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6rem;
}
h1 span {
  display: block;
}

.input-section {
  flex-basis: 47.5%;
}

.output-section {
  flex-basis: 47.5%;
}

label {
  color: #5e7a7d;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
}

::-moz-placeholder {
  color: #7f9c9f;
  font-size: 2.2rem;
}

:-ms-input-placeholder {
  color: #7f9c9f;
  font-size: 2.2rem;
}

::placeholder {
  color: #7f9c9f;
  font-size: 2.2rem;
}

input {
  width: 100%;
  height: 5rem;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: right;
  color: #006166;
  background: #f4fafa;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border: 1.5px solid #26c0ab;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group {
  width: 100%;
  position: relative;
}
.input-group:not(:last-of-type) {
  margin-bottom: 2.8rem;
}
.input-group span {
  position: relative;
}
.input-group span img {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  left: 1.5rem;
}

.tip-percentage .tips {
  display: flex;
  flex-wrap: wrap;
}
.tip-percentage .tips .tip {
  width: 31.3%;
  height: 5rem;
  color: white;
  background: #00494d;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 3%;
  margin-bottom: 1rem;
  transition: all 0.2s;
}
.tip-percentage .tips .tip:is(:nth-child(3)), .tip-percentage .tips .tip:is(:nth-child(6)) {
  margin-right: 0;
}
.tip-percentage .tips .tip:hover, .tip-percentage .tips .tip:focus {
  background: #26c0ab;
  color: #00494d;
}

.tip--custom {
  width: 31.3%;
}

.tip--custom input {
  width: 100%;
}

.tip--custom input::-moz-placeholder {
  color: #5a7677;
  text-align: center;
}

.tip--custom input:-ms-input-placeholder {
  color: #5a7677;
  text-align: center;
}

.tip--custom input::placeholder {
  color: #5a7677;
  text-align: center;
}

.error-msg {
  font-size: 1.6rem;
  font-weight: 700;
  color: #d79072;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.output-section {
  background: #00494d;
  border-radius: 1rem;
  padding: 3.5rem 3rem 2rem;
}

.tip-amount {
  display: flex;
  justify-content: space-between;
}
.tip-amount h3 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #f4fafa;
  align-self: center;
}
.tip-amount h3 span {
  display: block;
  font-size: 1.4rem;
  color: #7f9c9f;
}
.tip-amount .amount {
  font-size: 4.5rem;
  font-weight: 700;
  color: #26c0ab;
}
.tip-amount:not(:last-of-type) {
  margin-bottom: 4rem;
}

.reset-btn {
  height: 4.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background: #006b70;
  color: #006166;
  margin-top: 10rem;
  pointer-events: none;
  transition: all 0.2s;
}

.reset-btn:hover,
.reset-btn:active,
.reset-btn:focus {
  background: #2ad5be;
  background: #a1e8e0;
}

.reset-btn--active {
  background: #22aa98;
  background: #26c0ab;
  color: #005250;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */