* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  min-height: 100vh;
  background: hsl(185deg, 41%, 84%);
  font-family: "Space Mono", monospace;
  font-weight: 400;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 85em;
  background: hsl(0deg, 0%, 100%);
  padding: 2.5rem 2.5rem 2.5rem 3.5rem;
  border-radius: 1.6rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  .wrapper {
    flex-direction: column;
    padding: 4rem 2.5rem 10rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.logo {
  margin: 5rem 0;
}

.input-section {
  flex-basis: 47.5%;
}

.output-section {
  flex-basis: 47.5%;
}

label {
  color: hsl(186deg, 14%, 43%);
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
}

::-moz-placeholder {
  color: hsl(184deg, 14%, 56%);
  font-size: 2.2rem;
}

:-ms-input-placeholder {
  color: hsl(184deg, 14%, 56%);
  font-size: 2.2rem;
}

::placeholder {
  color: hsl(184deg, 14%, 56%);
  font-size: 2.2rem;
}

input {
  width: 100%;
  height: 5rem;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: right;
  color: #006166;
  background: hsl(189deg, 41%, 97%);
  caret-color: hsl(172deg, 67%, 45%);
  padding: 0.8rem;
  border: none;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border: 1.5px solid hsl(172deg, 67%, 45%);
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group {
  width: 100%;
  position: relative;
}
.input-group:not(:last-of-type) {
  margin-bottom: 2.8rem;
}
.input-group span {
  position: relative;
}
.input-group span img {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  left: 1.5rem;
}
@media screen and (max-width: 750px) {
  .input-group:last-of-type {
    margin-bottom: 4rem;
  }
}

.tip-percentage .tips {
  display: flex;
  flex-wrap: wrap;
}
.tip-percentage .tips .tip {
  width: 31.3%;
  height: 5rem;
  color: hsl(0deg, 0%, 100%);
  background: hsl(183deg, 100%, 15%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 3%;
  margin-bottom: 1rem;
  transition: all 0.2s;
}
.tip-percentage .tips .tip:is(:nth-child(3)), .tip-percentage .tips .tip:is(:nth-child(6)) {
  margin-right: 0;
}
.tip-percentage .tips .tip:hover, .tip-percentage .tips .tip:focus {
  background: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
}

.tip--custom {
  width: 31.3%;
}

.tip--custom input {
  width: 100%;
}

.tip--custom input::-moz-placeholder {
  color: hsl(182deg, 14%, 41%);
  text-align: center;
}

.tip--custom input:-ms-input-placeholder {
  color: hsl(182deg, 14%, 41%);
  text-align: center;
}

.tip--custom input::placeholder {
  color: hsl(182deg, 14%, 41%);
  text-align: center;
}

.error-msg {
  font-size: 1.6rem;
  font-weight: 700;
  color: #d79072;
  position: absolute;
  top: 0;
  right: 0;
}

.output-section {
  background: hsl(183deg, 100%, 15%);
  border-radius: 1rem;
  padding: 3.5rem 3rem 2rem;
}

.tip-amount {
  display: flex;
  justify-content: space-between;
}
.tip-amount h3 {
  font-size: 1.8rem;
  font-weight: 400;
  color: hsl(189deg, 41%, 97%);
  align-self: center;
}
.tip-amount h3 span {
  display: block;
  font-size: 1.4rem;
  color: hsl(184deg, 14%, 56%);
}
.tip-amount .amount {
  font-size: 4.5rem;
  font-weight: 700;
  color: hsl(172deg, 67%, 45%);
}
@media screen and (max-width: 750px) {
  .tip-amount .amount {
    font-size: 4rem;
  }
}
.tip-amount:not(:last-of-type) {
  margin-bottom: 4rem;
}
@media screen and (max-width: 750px) {
  .tip-amount:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.reset-btn {
  height: 4.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background: #006b70;
  color: #006166;
  margin-top: 10rem;
  outline: none;
  cursor: not-allowed;
  transition: all 0.2s;
}
@media screen and (max-width: 750px) {
  .reset-btn {
    margin-top: 4.5rem;
    margin-bottom: 0.8rem;
  }
}

.reset-btn:hover,
.reset-btn:active,
.reset-btn:focus {
  border: none;
}

.reset-btn--active {
  background: #22aa98;
  background: hsl(172deg, 67%, 45%);
  color: hsl(179deg, 100%, 16%);
  cursor: pointer;
}

.reset-btn--active:hover,
.reset-btn--active:active,
.reset-btn--active:focus {
  background: #2ad5be;
  background: hsl(173deg, 61%, 77%);
}/*# sourceMappingURL=main.css.map */